<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grandma's Lemon Meringue Pie</title>
    <link rel="icon" type="image/x-icon" href="../static/images/pie-icon.png">
    <link rel="stylesheet" type="text/css" href="../static/css/recipe.css">
</head>

<body>
    <div>
        <!--Grandma's Lemon Meringue Pie-->
        <h1 class="grandma">Grandma's Lemon Meringue Pie</h1>
        <img src="../static/images/pie.jpg" alt="Lemon Meringue Pie" class="pie-image">
        <p>One 9 - inch pie<br>
            Min - Prep time<br>
            10 Min - Cook time<br>
            40 Min - Total<br>
            8 Servings
        </p>
    </div>
    <hr>

    <div>
        <!--Ingredients section-->
        <h1>INGREDIENTS</h1>
        <!-- Bulleted list with custom pie bullet -->
        <ul>
            <li class="pie-bullet">1 cup white sugar</li>
            <li class="pie-bullet">2 tbsp all-purpose flour</li>
            <li class="pie-bullet">3 tbsp cornstarch</li>
            <li class="pie-bullet">1/4 tsp salt</li>
            <li class="pie-bullet">1 1/2 cups water</li>
            <li class="pie-bullet">2 lemons, juiced and zested</li>
            <li class="pie-bullet">2 tbsp butter</li>
            <li class="pie-bullet">1 (9 inch) pie crust, baked</li>
            <li class="pie-bullet">4 egg whites</li>
            <li class="pie-bullet">6 tbsp white sugar</li>
        </ul>
    </div>

    <hr>
    <div>
        <!--Directions Section-->
        <h1>DIRECTIONS</h1>
        <ol>
            <li><b>Preheat Oven:</b> Preheat oven to 350 degrees F (175 degrees C). <br>
            <li><b>Make Lemon Filling:</b> In a medium saucepan ...<br>
                <ul>
                    <li class="pie-bullet">Whisk together 1 cup sugar, flour, cornstarch, and salt.</li>
                    <li class="pie-bullet">Stir in water, lemon juice and lemon zest.</li>
                    <li class="pie-bullet">Cook over medium-high heat, stirring frequently, until mixture comes to a
                        boil.
                    </li>
                    <li class="pie-bullet">Stir in butter.</li>
                    <li class="pie-bullet">Place egg yolks in a small bowl and gradually whisk in 1/2 cup of hot sugar
                        mixture.
                    </li>
                    <li class="pie-bullet">Whisk egg yolk mixture back into remaining sugar mixture.</li>
                    <li class="pie-bullet">Bring to a boil and continue to cook while stirring constantly until thick.
                    </li>
                    <li class="pie-bullet">Remove from heat.</li>
                    <li class="pie-bullet">Pour filling into baked pastry shell.</li>
                </ul>
            <li><b>Make Meringue:</b> In a large glass or metal bowl ...
                <ul>
                    <li class="pie-bullet">Whip egg whites unitl foamy.</li>
                    <li class="pie-bullet">Add sugar gradually, and continue to whip until stiff peaks form.</li>
                    <li class="pie-bullet">Spread meringue over pie, sealing the edges at the crust.</li>
                </ul>
            <li><b>Bake:</b> Bake in preheatd oven for 10 minutes, or until meringe is golden brown.
        </ol>
        <p>This is our favorite recipe here at Granny's Pies. It has been enjoyed by pie fans for many years. It's
            Granny's
            favorite! We hope you'll find that this recipe is delicious and also easy to follow; it's a piece of cake
            pie!
        </p>
    </div>
    <hr>
    <div>
        <!--User Comments Section-->
        <h1>USER COMMENTS</h1>

        <blockquote>

            This is a very fun recipe to follow, because Grandma makes it sweet and simple. This pie is thickened
            with cornstarch and flour in addition to egg yolks, and contains no milk.

            <br><br>- Emilie S.

        </blockquote>

        <blockquote>

            Q: What do you call an ape who loves pie?
            <br>A: A meringue-utan.
            <br><br>-Vickie K.

        </blockquote>

        <blockquote>
            This site can really <b>engage</b> my interest. Follow the recipe above and <b>make it so!</b> This pie is
            <b>number one.</b>

            <br><br>- Jean-Luc Piecard
        </blockquote>
    </div>
    <hr>

    <!-- Add this section at the bottom of your HTML body -->

    <div id="bottom-links">
        <h1>LINKS</h1>
        <a href="../Yummy/index.html">Home</a> <br>
        <a href="http://www.google.com/search?q=lemon+meringue+pie+recipe&start=10" target="_blank">Search for other
            lemon meringue pie recipes</a><br>
        <a href="../Yummy/sample-inner-page.html" style="color: red;">Enhanced Version of Recipe</a>

        <pre>
                Copyright © 2022 Granny's Pies
                A Granny's Pies Production
                All rights reserved
            </pre>
        <a href="http://validator.w3.org/check/referer">
            <img src="../static/images/w3c-html.png" alt="Validate">
        </a>

        <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img src="../static/images/w3c-css.png" alt="W3C CSS Validation">
        </a>

    </div>

</body>

</html>